body {
    background-image: url('https://proprofs-cdn.s3.amazonaws.com/images/discuss/user_images/153336/7210849220.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}