h1 {
    color: rgba(255, 0, 0, 0.883);
}
#outside {
    position: relative;
    bottom: 40rem;

    width: 245px;
    height: 245px;
    border: 5px solid #000;
    border-radius: 50%;
    padding: 5px;
    z-index: 1;

    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#inside 
#happy-dog {
    transform: scale(.25);
    position: relative;
    right: 10rem;
    bottom: 13rem;
    z-index: 2;
}
@keyframes blinking {
    0% {
    background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}