.variable {
    font-family: "DIN 2014 Stencil VF Demo";
    font-size: 65.5px;
    text-align: center;
    font-variation-settings: "wght" 172.727, "xxxx" 227.273;
    line-height: 177.563%;
    color: rgb(50, 50, 50);
}
